## types of print statement

In [1]:
print("Hello World!")

Hello World!

In [2]:
print(123)

123

In [3]:
age=32; 
print("My age is:",age)

My age is: 32

In [5]:
## fstring
print(f"My age is {age}")

My age is 32

In [7]:
## format
name="krish"
age=32
print("My name is {} and age is {}".format(name,age))

My name is krish and age is 32

In [8]:
## placeholder
print("My name is {firstname} and age is {firstage}".format(firstage=age,firstname=name))

My name is krish and age is 32

In [11]:
name = "Krish Naik"
age = 32
degree = "BE"
print("My age is {nage} and i have completed: my degree of {ndegree} with the name of {nname}".format(nname=name,nage=age,ndegree=degree))

My age is 32 and i have completed: my degree of BE with the name of Krish Naik

## Control Flow 
### Decision Making Statements

In [12]:
## IF Statenent 
age =18
if age>=18:
    print("You're eligible to vote!")

You're eligible to vote!

In [14]:
age=int(input("Enter the age"))

Enter the age 32

In [15]:
type(age)

int

In [17]:
age=int(input("Enter your age"))
if (age>=18 and age<=45): 
    print("You are young blood!")

Enter your age 32

You are young blood!

In [18]:
## if else statement
age=int(input("Enter your age"))
if (age>=18 and age<=45): 
    print("You are young blood!")
else:
    print("You aren't young blood!")

Enter your age 55

You aren't young blood!

## Task

In [21]:
price=int(input("Enter the product price!"))
if price>1000:
    newPrice=price-0.2*price
    print(f"The new price is: {newPrice}")
else:
    newPrice=price-0.3*price
    print(f"The new price is: {newPrice}")

Enter the product price! 200

The new price is: 140.0

In [23]:
price=int(input("Enter the product price!"))
if price>3000:
    newPrice=price-0.2*price
    print(f"The new price is: {newPrice}")
elif price>=2000 and price<=3000:
    newPrice=price-0.3*price
    print(f"The new price is: {newPrice}")
elif price>=1000 and price<=2000:
    newPrice=price-0.4*price
    print(f"The new price is: {newPrice}")

Enter the product price! 2122

The new price is: 1485.4

In [13]:
product_price = int(input("Enter the price: "))
if product_price>3000:
    if product_price>=3000 and product_price<=4000:
        print("Congrats you got a trip to Goa")
    print(f"The price of the product is: {product_price*0.8}")
    
elif product_price>=2000 and product_price<=3000:
    print(f"The price of the product is: {product_price*0.7}")
    if product_price==2999:
        print("Also You have got a suitcase free!")

elif produc_price>=100 and product_price<=2000:
    print(f"The price of the product is: {product_price*0.6}")
else:
    print("Lets drink tea!")

Enter the price:  3200

Congrats you got a trip to Goa
The price of the product is: 2560.0

In [15]:
## Single Statement
val = int(input('Enter the number'))
if(val<=999):print("Value is less than equal to 999")
else:print("Go Home")

Enter the number 1000

Go Home

## Loops Statements
1. While loop 
2. for loop
3. nested loop
4. loop control (Break,continue,pass)

In [25]:
#while loop
amount=1000
while amount !=0:
    print(amount)
    amount=amount-100
else:
    print("Put more money bank people")

1000
900
800
700
600
500
400
300
200
100
Put more money bank people

In [27]:
a=2

## For loop

In [21]:
first=['apple','new','mango']

In [22]:
first[0]

'apple'

In [28]:
first

['apple', 'new', 'mango']

In [29]:
for x in first:
    print(f"{x}")

apple
new
mango

In [33]:
for a in first:
    print(a)
    if a=="apple":
        print("Found")
        break

apple
Found

In [35]:
fruit = 'mango'
for x in fruit:
    print (x, end=' ')

m a n g o

In [36]:
## Nested loops

In [38]:
n=7
for x in range(1,n):
    print(x)

1
2
3
4
5
6

In [39]:
n=7
for x in range(1,n,2):
    print(x)

1
3
5

In [41]:
n=5
for i in range(0,n):
    for j in range(0,i+1):
        print("*", end =' ')
    print("\r")

*
* *
* * *
* * * *
* * * * *

In [45]:
## Loop control 
## Break and continue
fruit = ['mango', 'apple', 'orange', 'banana']

In [60]:
for i in fruit:
        print(i)
        if i=='apple':
            break

mango
apple